/* You can add global styles to this file, and also import other style files */
.flex-container-vertical{
  display: flex;
  flex-direction: column;
}

.flex-container-horizontal{
  display: flex;
  flex-direction: row;
}

.flex-container-headline{
  text-align: center;
}

.flex-container-item{

}

.picture-horizontal-medium{
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.picture-horizontal-large{
  width: 800px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.centered-item{
  align-self: center;
}

.item-on-end{
  align-self: end;
}

.space-beteween-item{
  justify-content: space-between;
}

.icon{
  width: 22px;
}

.rounded-button{
  border-radius: 6px;
}
